@use 'variables';
@use 'mixins';

.modal-navbar-background{
  @include mixins.modal-background;
}

.modal-navbar{
  background-color: variables.$White;
  width: 250px;
  height: 100%;
  padding: 28px 24px;
}
